* {
    background-color: #1C9CD9;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: center;
    font-size: 50px;
    color: white;
}

img {
    margin: auto;
    display: block;
    margin-top: 60px;
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
    
@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
    
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
    
@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
    
@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.renglon {
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
    margin-top: 4%;
}

.animacion-escritura {
    animation: typewriter 4s steps(36) 6s 1 normal both,
    blinkTextCursor 500ms steps(36) infinite normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 29em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}